[GENERAL]
BOX_NAME = StudioVision Monitor
DEFAULT_EXAM_NAME = Image

[PATHS]
SOURCE_DIR = C:\Path\To\Source\Folder
ORPHAN_DIR = C:\Path\To\Source\Folder\Orphans
DEST_PHOTOS = X:\StudioVision\Photos
PUBLIC_MDB = X:\StudioVision\PUBLIC.MDB
DOCUM_MDB = X:\StudioVision\DOCUM.MDB

[TIMEOUTS]
PATIENT_WAIT_TIMEOUT = 900